*{
    margin: 0;
    padding: 0;
}
#icon{
    width: 100px;
    cursor: pointer;
}
#album{
    width:300px;
    margin-left: 66rem;
    margin-top: -13rem;
    margin-bottom: 1.2rem;
}
audio{
    margin-left: 66rem;
    
    
}
.right{
    position:absolute;
    margin-left: 60rem;
    margin-top: 14rem;
}
.hero{
    position: relative;

}

nav{  
   font-size: 30px;
    display: flex;
    width: 70%; 
    margin-left:23rem ;
    padding:40px 0;
    align-items:center;
    justify-content: space-between ;
    position: absolute;
    
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.detail{
    margin-left: 5%;
    margin-top: -30%;
}

.detail h1{
    font-size: 40px;
    color:rgb(233, 8, 8);
    margin-bottom: 20px;

}

span{
    color: rgb(182, 89, 26);;
}
.detail p {
    color:rgb(133, 41, 41);
    line-height: 22px;
    font-size: 20px;
}

.animation{
        background: linear-gradient(to bottom, #252325, #b4827f6f);
        width: 100%;
        height: 100vh
}
.Box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height:25px;
    background: rgba(175, 12, 12, 0.716);
    animation: animate 20s linear infinite;
    bottom: -200px;
}

.Box li:nth-child(1){
    left:86%;
    width:80px;
    height:80px;
    animation-delay:0s;

}
.Box li:nth-child(2){
    left:12%;
    width:30px;
    height:30px;
    animation-delay:1.5s;
    animation-duration: 10s;

}
.Box li:nth-child(3){
    left:70%;
    width:100px;
    height:100px;
    animation-delay:5.5s;
    animation-duration: 10s;
}
.Box li:nth-child(4){
    left:42%;
    width:150px;
    height:150px;
    animation-delay:0s;
    animation-duration: 15s;
}

.Box li:nth-child(5){
    left:65%;
    width:40px;
    height:40px;
    animation-delay:0s;
    animation-duration: 10s;
}
.Box li:nth-child(6){
    left:55%;
    width:110px;
    height:110px;
    animation-delay:3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg) ;
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg) ;
        opacity: 0;
    }
}

.MoreMe{
    
    margin-top: 360px;
    display: block;
    margin-left: 600px;
    margin-right: 50px;
    width: 50%;
}

